# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
media/
staticfiles/

# Virtual Environment
venv/
env/
.venv/

# Environment Variables & Testing
.env
.pytest_cache/
.coverage

# IDEs & System
.vscode/
.idea/
.DS_Store